* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #3c3c3c;
  background-color: #fafafa;
  font-family: sans-serif;
  width: 700px;
  margin: auto;
}

.title {
  margin: 10px;
  font-weight: bold;
  font-size: 40px;
}

.description {
  margin: 10px;
  font-size: 20px;
}
